body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul {
    display: block;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#navbar ul li {
    float: none;
}

#navbar li:hover {
    background-color: #f90;
}

#navbar ul li:hover {
    background-color: #666;
}